body{
  text-align: center;  
}

#pong {
    background-color: #111;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

#playerPlat {
    background-color: paleturquoise;
}

#aiPlat {
    background-color: rgb(186, 18, 18);
    right: 0px;
}

#ball {
    background-color: white;
    width: 20px;
    height: 20px;
    left: 200px;
    position: absolute;
    border-radius: 50%;
}

.plat {
    height:100px ;
    width: 20px;
    position: absolute;
}

#restart {
    margin-top: 10px;
    background-color: rgb(221, 221, 50);
    padding: 10px;
    color: black;
    font-size: 20px;
    border: none;
    cursor: pointer;
    height: 50px;
}

#restart:hover {
    background-color: rgb(243, 243, 71);
}
